<div class="container py-5 text-center">
  <h1 class="text-danger mb-4 d-flex justify-content-center align-items-center">
    <img src="assets/images/grooming1.jpg" alt="Logo" class="logo me-2" style="width: 150px; height: 150px; margin-right: 10px;" />
    <span class="grooming-title">Grooming Services</span>
  </h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
      <div class="col" *ngFor="let service of groomingServices">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ service.name }}</h5>
            <p class="card-text">{{ service.description }}</p>
            <p class="card-text">
              Price: {{ service.price }} 
              <span 
              [class.badge]="true" 
              [class.bg-success]="service.available"
                [class.text-danger]="!service.available"
              >
                {{ service.available ? 'Available' : 'Unavailable' }}
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>