<div class="container">
  <h2>Customers Management</h2>
  <div class="running-message">
    <span>To change address of the customers <a href="address">click here</a></span>
  </div>

  <br/>

  <!-- Button to show the Add Customer form -->
  <button class="btn btn-success mb-3" (click)="toggleAddCustomerForm()">Add Customer</button>

  <!-- Add Customer Form -->
  <div *ngIf="showAddCustomerForm">
    <form (ngSubmit)="addCustomer()">
      <h4>Customer Details</h4>
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newCustomer.firstName"
            name="firstName"
            placeholder="Customer firstName"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newCustomer.lastName"
            name="lastName"
            placeholder="Customer lastName"
            required
          />
        </div>
      </div>
      <!-- Repeat for other fields, grouping inputs into rows and columns -->
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newCustomer.email"
            name="email"
            placeholder="Customer Email"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newCustomer.phoneNumber"
            name="phoneNumber"
            placeholder="Customer phoneNumber"
            required
          />
        </div>
      </div>

      <h4>Address Details</h4>
      <!-- Address fields (similar layout) -->
      <div class="row">
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newAddress.street"
            name="street"
            placeholder="Street"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newAddress.city"
            name="city"
            placeholder="City"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newAddress.state"
            name="city"
            placeholder="State"
            required
          />
        </div>
        <div class="col-md-6">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="newAddress.zipCode"
            name="city"
            placeholder="Pin Code"
            required
          />
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Add Customer</button>
    </form>
  </div>

  <!-- Table for displaying customers -->
  <div *ngIf="customers.length">
    <h3>Customer List</h3>
    <table class="table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Address Id</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <td>
            <input
              *ngIf="editCustomerIndex === i"
              [(ngModel)]="customer.firstName"
              class="form-control"
            />
            <span *ngIf="editCustomerIndex !== i">{{ customer.firstName }}</span>
            </td>
            <td>
            <input
              *ngIf="editCustomerIndex === i"
              [(ngModel)]="customer.lastName"
              class="form-control"
            />
            <span *ngIf="editCustomerIndex !== i">{{ customer.lastName }}</span>
          </td>
          <td>
            <input
              *ngIf="editCustomerIndex === i"
              [(ngModel)]="customer.email"
              class="form-control"
            />
            <span *ngIf="editCustomerIndex !== i">{{ customer.email }}</span>
            </td>
            <td>
            <input
              *ngIf="editCustomerIndex === i"
              [(ngModel)]="customer.phoneNumber"
              class="form-control"
            />
            <span *ngIf="editCustomerIndex !== i">{{ customer.phoneNumber }}</span>
          </td>
          <td>
            {{ customer.address.street }}, {{ customer.address.city }}, {{ customer.address.state }} - {{ customer.address.zipCode }} 
          </td>
          <td> {{customer.address.addressId}}</td>
          <td>
            <button *ngIf="editCustomerIndex !== i" class="btn btn-primary" (click)="editCustomer(i)">Edit</button>
            <button *ngIf="editCustomerIndex === i" class="btn btn-success" (click)="saveCustomer(i)">Save</button>
            <button *ngIf="editCustomerIndex === i" class="btn btn-secondary" (click)="cancelEdit()">Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
