<div class="d-flex flex-column min-vh-100">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Pet Shop</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pets">Pets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/pet-foods">Pet Foods</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/services">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/vaccinations">Vaccinations</a>
            </li>
          </ul>
          <a class="btn btn-outline-success" href="/user-login" routerLink="/user-login">Login</a>
        </div>
      </div>
    </nav>
    
  
    <!-- Main Content -->
    <div class="flex-grow-1">
      <!-- Add your main page content here -->
    </div>
  
    <!-- Footer -->
    <footer class="bg-dark text-white text-center py-3">
      <p class="mb-2">© 2024 Pet Shop</p>
      <div class="footer-links">
        <a href="admin-login" class="text-decoration-none text-white me-3">Admin Login</a>
      </div>
    </footer>
  </div>
  